.header {
    grid-area: header;
    background: #02BA98;
  }
  
  .header img {
    width: 74px;
  }

  .loginBlock  {
    float: right;
    margin: 15px;
  }
  .loginBlock a {
    text-decoration: none;
    color: white;
  }