.nav {
    grid-area: nav;
    background: #02BA98;
    padding: 20px;
}

.item a{
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 10px;
}

.item a.activeLink {
    color: gold;
}

